{% extends "base.html" %}

{% block content %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Web Application Name</h3>
                    <div class="box">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" placeholder="ID" autofocus=""
                                           name="username">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Password"
                                           name="password">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="button is-block is-info is-large is-fullwidth" type="submit"
                                           value="ログイン"/>
                                    <input type="hidden" name="next" value="{{ next }}"/>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {% if form.errors %}
                                        <p class="is-size-5 has-text-danger">ログインに失敗しました。<br>入力内容を確認し、もう一度入力してください。
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
