<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <title>index</title>
</head>

<body>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <a href="./react" class="button is-black">React</a>
            </div>
            <div class="column">
                <a href="./materialui" class="button is-black">MaterialUI</a>
            </div>
            <div class="column">
                <a href="./reactadmin" class="button is-black">ReactAdmin</a>
            </div>
        </div>
    </div>
</section>
</body>

</html>
